{% extends 'partidas/base.html' %}

{% block title %} Listado de Juegos {% endblock %}

{% block content %}
<h3>{% if object %}Editar Juego: {{ object.nombre }}{% else %}Crear Juego{% endif %}</h3>
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div class="card shadow-sm">
                        <div class="card-header">
                            Datos del Juego
                        </div>
                        <div class="card-body">
                            <form method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="btn btn-primary">Enviar</button>
                                <a href="{% url 'juego-list' %}">Cancelar</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}