{% extends 'partidas/base.html' %}

{% block title %} Roll for initiative:about {% endblock title %}

{% block content %}
<section>
    <h2 style="margin-bottom: 30px;">
        ¡Acerca de mí!
    </h2>
</section>
<section style="text-align: justify;">
    <h4>
        <p style="margin-bottom: 20px;">
            ¡Hola! Mi nombre es Kenneth Alonso, soy un arquitecto con una inclinación cada 
            vez mayor hacia el mundo de la programación. He trabajado siete años en una 
            reconocida ingeniería Agroalimentaria en España donde he podido hacerme un 
            hueco en el mundillo como arquitecto. Sin embargo, el interés por la informática 
            ha sido una constante en mi vida, y recientemente he decidido seguir mi 
            curiosidad y adentrarme en el ámbito de la programación.
        </p>
        <p style="margin-bottom: 20px;">
            Recientemente completé con éxito el curso de Data Analyst ofrecido por 
            Coderhouse, una experiencia me ayudó a ampliar mi comprensión sobre el 
            análisis de datos y sus aplicaciones en diversos contextos. A pesar de ello, 
            creo que mi verdadera vocación reside en el desarrollo backend y la lógica 
            de la programación. Por ello, mi siguiente paso es especializarme a través 
            de un curso de programación de videojuegos, con el objetivo de profundizar 
            mis habilidades y conocimientos en esta área específica.
        </p>
        <p style="margin-bottom: 20px;">
            Mi visión a largo plazo implica una transición completa hacia la programación, 
            aspirando a dedicar mi carrera profesional por completo a este campo. Reconozco 
            los desafíos inherentes a este cambio, pero motivación es algo que me sobra. 
            Se que el futuro trae desafíos y oportunidades, y estoy comprometido a seguir 
            creciendo y desarrollándome profesionalmente en el ámbito tecnológico.
        </p>
        <p style="margin-bottom: 20px;">
            Este proyecto es una aproximación a una página web que haga de HUB en línea 
            para gente que quiera crear y jugar a partidas de rol clásicas. En nuestra plataforma 
            los usuarios tendrán la libertad de crear estilos de juego personalizados y partidas 
            únicas donde tanto los jugadores como el maestro de juego puedan colaborar y editar 
            los personajes para preparar el terreno para sus aventuras.
        </p>
        <p style="margin-bottom: 20px;">
            El siguiente paso en está web es crear un foro dedicado para cada partida para facilitar 
            la comunicación entre los jugadores y su master. Estos foros permitirán a los 
            participantes compartir mensajes, imágenes, sonidos e incluso lanzar dados digitales, 
            todo ello diseñado para enriquecer la experiencia de juego y hacerla más inmersiva.
            En un futuro seguiremos trabajando para mejorar este proyecto.
        </p>
    </h4>
</section>
{% endblock %}